{% extends "base.html.twig" %}

{% block title %}Библиотека{% endblock %}

{% block body %}

    <div class="jumbotron" style="text-align: center">

        <h1>Добро пожаловать!</h1>
        <h2 style="text-align: left">Жанры:

            {% for cat in category %}
                <a href="{{ path('category',{'id': cat.id}) }}" style="color: black"> \ {{ cat.name }} </a>
            {% endfor %}
        </h2>
        <hr class="my-4">
        <div class="books">
            {% for book in books %}
                <img class="card-img-top" style="width: 100px" src="{{ asset('images/image/')~book.image }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }} <br>
                        {{ book.author }}</h5>
                    {% if book.status %}
                        <p>в наличии</p>
                    {% else %}
                        <p>нет в наличии</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
